* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: 1rem;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

header {
    background-image: url("../img/CITY-BCN-1.jpeg");
    height: 55vh;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0px;
    background-color: burlywood;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 45%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-nav {
    width: 15%;
    float: left;
    position: fixed;
    background-color: violet;
    border: solid;
}

.column-75 {
    width: 55%;
    float: left;
    margin-left: 15%;
    text-align: center;
}

.column-news {
    width: 30%;
    float: left;
    padding: 0.5vw;
    border: solid;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-white {
    background-color: white;
}

.back-yellow {
    background-color: yellow;
}

a {
    text-decoration: none;
    color: black;
}

#img-1 {
    height: 50vh;
    background-image: url("../img/w-k-F1Om5ZlXN5g-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-2 {
    height: 50vh;
    background-image: url("../img/bruno-barreto-oe9hCDWA2Fw-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-3 {
    height: 50vh;
    background-image: url("../img/manuel-torres-garcia-FZ6FEH2mKMU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-4 {
    height: 50vh;
    background-image: url("../img/raimond-klavins-Uy47SfoghJ0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-5 {
    height: 50vh;
    background-image: url("../img/sumit-lulla-8_WfHGUKOgo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-6 {
    height: 50vh;
    background-image: url("../img/88.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-7 {
    height: 50vh;
    background-image: url("../img/61edd31355ca5.jpeg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-8 {
    height: 50vh;
    background-image: url("../img/bafb97e0-7d78-4c21-b2a3-7d0a71682d83_alta-libre-aspect-ratio_default_0.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-9 {
    height: 50vh;
    background-image: url("../img/61edb18979cd9.jpeg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-10 {
    height: 50vh;
    background-image: url("../img/8ba93299-f207-4557-a0ea-a691408075a1_16-9-discover-aspect-ratio_default_0.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-11 {
    height: 60vh;
    background-image: url("../img/jorge-fernandez-salas-f8scKO9jjas-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-12 {
    height: 60vh;
    background-image: url("../img/jorge-fernandez-salas-Lp7JhwnxZ50-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-13 {
    height: 60vh;
    background-image: url("../img/Plaza-Catalunya-en-Barcelona-1000x590.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-14 {
    height: 60vh;
    background-image: url("../img/shutterstock_194471207-1-1024x597.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-15 {
    height: 60vh;
    background-image: url("../img/pizzas-napolitanas-horno-piedra-barcelona-1235x694.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-17 {
    height: 60vh;
    background-image: url("../img/lobster-rice.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-16 {
    height: 600px;
    width: 600px;
    background-image: url("../img/Captura\ de\ pantalla\ 2022-01-24\ 173540.png");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-18 {
    height: 600px;
    width: 600px;
    background-image: url("../img/Captura\ de\ pantalla\ 2022-01-24\ 164947.png");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-19 {
    height: 60vh;
    background-image: url("../img/P1270127.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

#img-20 {
    height: 600px;
    width: 600px;
    background-image: url("../img/Captura\ de\ pantalla\ 2022-01-24\ 174331.png");
    background-size: cover;
    background-position: center;
    border: solid;
    border-radius: 5%;
}

iframe {
    height: 60vh;
    width: 100vh;
    border: solid red;
    border-radius: 5%;
}

header h1 {
    font-size: 50px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    background-color: chartreuse;
    border: solid;
    border-radius: 5px;
    padding: 0%;
    padding-right: 0%;
}

h5 {
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

footer {
    width: 100%;
    text-align: left;
    float: left;
    font-size: 1.5vw;
    color: white;
    background-color: black;
}

#prefooter {
    background-color: darkgray;
    color: black;
}


/* clases auxiliares */

.padding-s {
    padding: 1%;
}

.padding-m {
    padding: 6%;
}

@media only screen and (max-width: 700px) {
    /*reglas*/
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    .column-1 {
        width: 100%;
    }
    .column-2 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 0%;
    }
    .column-75,
    .column-nav {
        width: 100%;
    }
    .column-news {
        width: 100%;
    }
    .column-75 {
        margin-left: 0;
    }
    .column-nav {
        position: relative;
    }
    iframe {
        width: 100%;
    }
    #img-16,
    #img-18,
    #img-20 {
        width: 100%;
    }
}